.controls-form-container {
  padding-left: 2%;
  width: 60vh;
  height: 100vh;

  display: flex;
  align-items: center;
}

.controls-form-card {
  /* dimensiones */
  width: 100%;
  min-height: 50%;
  height: auto;
  border-radius: 10px;

  /* temporal */
  background-color: #1c1c1e;
  color: white;
}

.controls-form-header {
  border-radius: 10px 10px 4px 4px;
  height: 7vh;
  width: 100%;
  display: flex;
  padding: 5%;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  color: white;
  font-size: large;
  background-color: rgb(34, 41, 46);
}
.controls-form-container-forms-container {
  max-height: 76vh;
  overflow-y: auto; /* Habilita el scroll vertical si el contenido es más grande */
  padding: 20px; /* Espaciado interno opcional */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

/* Cambia el ancho del scroll */
.controls-form-container-forms-container::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de scroll */
}

/* Cambia el color de fondo del scroll */
.controls-form-container-forms-container::-webkit-scrollbar-track {
  background: #1c1c1e; /* Fondo de la pista del scroll */
}

/* Cambia el color y el estilo del thumb (la parte que se mueve) */
.controls-form-container-forms-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del thumb */
  border-radius: 10px; /* Bordes redondeados */
  border: 3px solid #2c2c2e; /* Borde alrededor del thumb */
}

/* Cambia el color cuando el usuario interactúa con el thumb */
.controls-form-container-forms-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del thumb al pasar el mouse */
}
.controls-form-title {
  font-family: "Playwrite DE Grund", cursive;
  width: 65%;
  font-size: larger;
  font-weight: bolder;
}

.controls-form-select {
  appearance: none; /* Oculta el estilo predeterminado del navegador */
  background-color: #2c2c2e; /* Fondo oscuro para el input */
  border: 1px solid #505050; /* Borde similar */
  color: #fff; /* Texto en blanco */
  border-radius: 8px; /* Bordes redondeados */
  padding: 8px 12px; /* Espaciado interno */
  margin: 16px 0px 20px 0px;
  font-size: 16px; /* Tamaño de la fuente */
  width: 100%; /* Ancho completo */
  outline: none; /* Elimina el borde al hacer focus */
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.controls-form-select:hover {
  border-color: #636366; /* Color de borde al pasar el cursor */
}

.controls-form-select:focus {
  border-color: #007aff; /* Borde azul al hacer focus */
}

.controls-form-option {
  background-color: #1c1c1e; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
}

.form-label {
  color: #fff; /* Etiqueta de texto en blanco */
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
}

/* ESTILOS PARA LOS BOTONES */

.controls-form-btn {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 16px;
  padding: 6px 20px;
  border-radius: 20px; /* Bordes redondeados */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Animación suave al pasar el cursor */
}

.btn-on-play,
.btn-on-pause,
.controls-form-reset-button {
  background-color: #454545; /* Color de fondo oscuro */
  color: white;
}
.btn-on-play:hover,
.btn-on-pause:hover,
.controls-form-guide-button:hover {
  background-color: #2cb189; /* Un poco más claro al hacer hover */
}
.controls-form-reset-button:hover {
  background-color: #c20000; /* Color de fondo oscuro */
  color: white;
}

.ecuation-label {
  background-color: #2c2c2e; /* Fondo oscuro para el input */
  color: #ffffff; /* Texto blanco */
  border: none; /* Borde en el foco */
  padding: 5px;
  width: 100%;
  height: 40px;
  border-radius: 6px; /* Bordes redondeados */
  font-size: 17px;
  align-items: center;
  justify-content: center;
}
